.dashboard {
  min-height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 1fr min-content;
  grid-template-areas:
    "sidebar main"
    "sidebar log";
  background: #f5f8fa;
}
aside {
  grid-area: sidebar;
  min-height: 0;
  border-right: 1px solid #ececec;
  background: #f8fafc;
  display: flex;
  flex-direction: column;
}
main {
  grid-area: main;
  padding: 2.5rem 2.5rem 1rem 2.5rem;
  display: flex;
  flex-direction: column;
  background: #fff;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: .9rem;
}
.header .conn-indicator {
  background: #e9f6ff;
  color: #1976d2;
  padding: .28rem .76rem;
  border-radius: 4px;
  font-size: .99rem;
  font-weight: 500;
}
.header .devname {
  color: #424242;
  font-weight: 500;
  margin-left: .3rem;
}

.log-history-section {
  grid-area: log;
  background: #fafbfc;
  border-top: 1px solid #ececec;
  width: 100%;
  min-width: 0;
  padding: 0;
}
